<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <!-- Add your CSS here -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col">
                <p class="text-center">계정만들기 성공!</p>
                <!-- Add a button that links back to your login page -->
                <a href="{% url 'login:login' %}" class="btn btn-primary">로그인 페이지로 돌아가기</a>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>