{% extends 'base/main.html' %}
{% load static %}

{% block content %}
{% include 'score_check/navbar.html' %}



<form method="get">
    <select name="subject_id">
        <option value="">Select a subject</option>
        {% for subject in subjects %}
        <option value="{{ subject.id }}" {% if subject == selected_subject %}selected{% endif %}>{{ subject }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Show">
</form>
{% if selected_subject %}
<h2>{{ selected_subject }}</h2>

{% for subsubject, score_query in subsubjects_scores %}
<form action="POST" style = "float:left">
    {{ subsubject }}
    <button
      hx-delete="{% url 'score_check:Reference_list_delete' subsubject.id %}"
      hx-indicator=".htmx-indicator"
      hx-swap="outerHTML"
      hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>삭제</button>
    </form>
    <form action="POST">
<button
      hx-post="{% url 'score_check:Reference_list_update' subsubject.id %}"
      hx-indicator=".htmx-indicator"
      hx-swap="outerHTML"
      hx-target="#score_table_{{subsubject.id}}"
      hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>업데이트</button>
    </form>
<div id = score_table_{{subsubject.id}}>
<table style="border: 1px solid black; border-collapse: collapse;">
    <tr>
        <th style="border: 1px solid black;">세부영역</th>
        <th style="border: 1px solid black;">점수표</th>
    </tr>
    {% for score in score_query %}
    <tr>
        <td style="border: 1px solid black;">{{ score.score_name }}</td>
        <td style="border: 1px solid black;">{{ score.score_list }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2" style="text-align: center; border: 1px solid black;">점수없음</td>
    </tr>
    {% endfor %}
</table>
    </div>
<br> <!-- This will add a line break after each table -->
{% endfor %}
{% endif %}

{% endblock %}