{% extends 'base/main.html' %}
{% load static %}


{% block content %}
  {% include 'score_check/navbar.html' %}

{% for subject in subjects %}
  {{subject.name}}
{%endfor%}


<select class = 'custom-select mb-4' 
name="subjects"
hx-get="{% url 'score_review:score_review_subsubject_select' %}"
  hx-trigger="change"
hx-target="#subsubject_select"
>
{% for subject in subjects %}
<option value="{{subject.pk}}">{{subject.name}}</option> 
{% endfor %}
</select>


<div id="subsubject_select">
    {% include 'score_review/score_review_subsubject_select.html' %}
</div>


  <div class="upload-section", style = "margin: 20px; float:left;"> 
    
    <h2>성적 파일 업로드</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {% for field in form %}
      {{sub}}
      {%endfor%}
      <button type="submit" style = "margin-left: 30px;"> 업로드</button>

      
    </form>

    <div id="subject_select">
      {% include 'score_review/score_review_subject_select.html' %}
    </div>

    <select class = 'custom-select mb-4' >
    {% for subject in subjects %}
    <option value="{{subject.pk}}">{{subject.name}}</option> 
    {% endfor %}
    </select>
  


  </div>


  <div class="errors-section"  style = "margin: 20px; float:left"> 
    <h2> < 오류 > </h2>
    {% if error_list %}
      <ul style="border-top:2px solid rgb(218, 99, 21);">
        {% for error in error_list %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>오류 사항 없음</p>
    {% endif %}
  </div>
  
{% endblock %}
