{% extends 'base/main.html' %}

{% block title %}Developer Information{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-3">개발자</h1>

    <div class="row">
        <div class="col-lg-6">
            <h2 class="my-3">About the Developer</h2>
            <ul>
                <li>수학교사</li>
                <li></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2 class="my-3">Contact</h2>
            <ul>
                <li>Email: dorororong02@gmail.com</li>
                <li>Github: <a href="https://github.com/dorororong/EPAR.git">https://github.com/dorororong/EPAR.git</a> </li>
                <!-- Add any other contact information you'd like -->
            </ul>
        </div>
    </div>
</div>
{% endblock %}
